// SPDX-License-Identifier: BSD-3-Clause
// Copyright (c) 2026 Billy Jr. and contributors

#include <windows.h>
#include "resource.h"

IDD_ABOUT DIALOGEX 0, 0, 250, 238
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 9, "Segoe UI"
BEGIN
	LTEXT "", IDC_ABOUT_TEXT, 12, 12, 226, 104
	PUSHBUTTON "", IDC_ABOUT_FACEBOOK, 12, 122, 226, 20
	CTEXT "", IDC_ABOUT_SUPPORT_TEXT, 12, 150, 226, 24
	PUSHBUTTON "", IDC_ABOUT_SUBSCRIBE, 12, 180, 226, 20
	DEFPUSHBUTTON "OK", IDOK, 98, 210, 54, 18
END

IDD_CONTROLLER_SETTINGS DIALOGEX 0, 0, 342, 270
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 9, "Segoe UI"
BEGIN
	LTEXT "", IDC_CONTROLLER_PROFILE, 12, 10, 318, 14
	LTEXT "Input source", IDC_CONTROLLER_SOURCE_LABEL, 12, 31, 82, 12
	COMBOBOX IDC_CONTROLLER_SOURCE, 98, 28, 148, 70, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
	PUSHBUTTON "Rescan", IDC_CONTROLLER_RESCAN, 254, 28, 76, 15
	LTEXT "Single reflector", IDC_CONTROLLER_SINGLE_LABEL, 12, 50, 82, 12
	COMBOBOX IDC_CONTROLLER_SINGLE, 98, 47, 148, 54, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
	LTEXT "Dead zone (%)", IDC_CONTROLLER_DEADZONE_LABEL, 254, 50, 52, 12
	EDITTEXT IDC_CONTROLLER_DEADZONE, 306, 47, 24, 14, ES_NUMBER | WS_TABSTOP
	GROUPBOX "Game actions", IDC_CONTROLLER_ACTIONS_GROUP, 8, 68, 324, 109
	PUSHBUTTON "", IDC_CONTROLLER_ACTION_0, 16, 82, 148, 19
	PUSHBUTTON "", IDC_CONTROLLER_ACTION_1, 174, 82, 148, 19
	PUSHBUTTON "", IDC_CONTROLLER_ACTION_2, 16, 105, 148, 19
	PUSHBUTTON "", IDC_CONTROLLER_ACTION_3, 174, 105, 148, 19
	PUSHBUTTON "", IDC_CONTROLLER_ACTION_4, 16, 128, 148, 19
	PUSHBUTTON "", IDC_CONTROLLER_ACTION_5, 174, 128, 148, 19
	PUSHBUTTON "", IDC_CONTROLLER_ACTION_6, 16, 151, 148, 19
	GROUPBOX "Wii Remote IR calibration", IDC_CONTROLLER_WII_GROUP, 8, 181, 324, 53
	PUSHBUTTON "Wii 1 upper-left", IDC_CONTROLLER_WII1_TL, 16, 194, 74, 16
	PUSHBUTTON "Wii 1 lower-right", IDC_CONTROLLER_WII1_BR, 94, 194, 74, 16
	PUSHBUTTON "Wii 2 upper-left", IDC_CONTROLLER_WII2_TL, 174, 194, 74, 16
	PUSHBUTTON "Wii 2 lower-right", IDC_CONTROLLER_WII2_BR, 252, 194, 74, 16
	LTEXT "", IDC_CONTROLLER_STATUS, 16, 215, 306, 12
	DEFPUSHBUTTON "OK", IDOK, 224, 244, 50, 18
	PUSHBUTTON "Cancel", IDCANCEL, 280, 244, 50, 18
END

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,3,1,0
 PRODUCTVERSION 0,3,1,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904b0"
		BEGIN
			VALUE "CompanyName", "Billy Jr\0"
			VALUE "FileDescription", "XaviXEmu\0"
			VALUE "FileVersion", "0.3.1\0"
			VALUE "InternalName", "XaviXEmu\0"
			VALUE "OriginalFilename", "XaviXEmu.exe\0"
			VALUE "ProductName", "XaviXEmu\0"
			VALUE "ProductVersion", "0.3.1\0"
			VALUE "LegalCopyright", "Copyright (c) 2026 Billy Jr. and contributors\0"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0409, 1200
	END
END
